<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Edprowise/Invoice</title>
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
        font-family: Arial, sans-serif;
      }
      td,
      th {
        border: 1px solid black;
        padding: 6px;
        font-size: 14px;
        vertical-align: top;
      }
      .header-table td {
        border: none;
      }
      .no-border {
        border: none;
      }
      .center {
        text-align: center;
      }
      .bold {
        font-weight: bold;
      }
      .right {
        text-align: right;
      }
    </style>
  </head>
  <body>
    <table class="header-table">
      <tr>
        <td style="text-align: right; width: 57.5%"><h3>Tax Invoice</h3></td>
        <td style="text-align: right; width: 42.5%">
          <h3>(Original for Recipient )</h3>
        </td>
      </tr>
    </table>

    <table>
      <tr>
        <td style="width: 50%">
          <table
            style="width: 100%; border-collapse: collapse"
            class="header-table"
          >
            <tr>
              <td class="bold">Supplier</td>
            </tr>
            <tr>
              <td colspan="2">Name : <%= profileData.sellerCompanyName %></td>
            </tr>
            <tr>
              <td colspan="2">Address : <%= profileData.sellerAddress %></td>
            </tr>
            <tr>
              <td style="width: 50%">City : <%= profileData.sellerCity %></td>
              <td style="width: 50%">State : <%= profileData.sellerState %></td>
            </tr>
          </table>
        </td>
        <td style="width: 50%">
          <table
            style="width: 100%; border-collapse: collapse"
            class="header-table"
          >
            <tr>
              <td>GSTIN : <%= profileData.sellerGstin %></td>
            </tr>
            <tr>
              <td>PAN : <%= profileData.sellerPanNumber %></td>
            </tr>
            <tr>
              <td>Contact No. : <%= profileData.sellerContactNumber %></td>
            </tr>
            <tr>
              <td>Email ID : <%= profileData.sellerEmailId%></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <table>
      <tr>
        <td style="width: 50%">
          <table
            style="width: 100%; border-collapse: collapse"
            class="header-table"
          >
            <tr>
              <td class="bold">Consignee</td>
            </tr>
            <tr>
              <td colspan="2">
                Name : <%= profileData.edprowiseCompanyName %>
              </td>
            </tr>
            <tr>
              <td colspan="2">Address : <%= profileData.edprowiseAddress %></td>
            </tr>
            <tr>
              <td style="width: 50%">
                City : <%= profileData.edprowiseCity %>
              </td>
              <td style="width: 50%">
                State : <%= profileData.edprowiseState %>
              </td>
            </tr>
            <tr>
              <td style="width: 50%">
                Contact No. : <%= profileData.edprowiseContactNo %>
              </td>
              <td style="width: 50%">
                Email Id : <%= profileData.edprowiseEmailId %>
              </td>
            </tr>
            <tr>
              <td class="bold">Buyer</td>
            </tr>
            <tr>
              <td colspan="2">
                Name : <%= profileData.edprowiseCompanyName %>
              </td>
            </tr>
            <tr>
              <td colspan="2">Address : <%= profileData.edprowiseAddress %></td>
            </tr>
            <tr>
              <td style="width: 50%">
                City : <%= profileData.edprowiseCity %>
              </td>
              <td style="width: 50%">
                State : <%= profileData.edprowiseState %>
              </td>
            </tr>
          </table>
        </td>
        <td style="width: 50%">
          <table
            style="width: 100%; border-collapse: collapse"
            class="header-table"
          >
            <tr>
              <td>Invoice No. : <%= profileData.invoiceForEdprowise %></td>
            </tr>
            <tr>
              <td>Order No. : <%= profileData.orderNumber %></td>
            </tr>
            <tr>
              <td>Invoice Date : <%= formatDate(profileData.invoiceDate) %></td>
            </tr>

            <tr>
              <td>
                Payment Terms : <%= profileData.paymentTerms %> (Days Only)
              </td>
            </tr>
            <tr>
              <td>
                Advance Amount Received : <%= profileData.advanceRequiredAmount
                %>
              </td>
            </tr>
            <tr>
              <td>GSTIN : <%= profileData.edprowiseGstin %></td>
            </tr>
            <tr>
              <td>PAN : <%= profileData.edprowisePan%></td>
            </tr>
            <tr>
              <td colspan="2">All Amounts are in INR</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <table>
      <thead>
        <tr class="bold center">
          <td>Sr</td>
          <td>Sub Category Name</td>
          <td>Qty</td>
          <td>Rate</td>
          <td>Taxable Value</td>
          <td>GST Amount</td>
          <td>Total Amount</td>
        </tr>
      </thead>
      <tbody>
        <% prepareQuoteData.forEach((item, index) => { %>
        <tr class="center">
          <td><%= index + 1 %></td>
          <td><%= item.subcategoryName %></td>
          <td><%= item.quantity %></td>
          <td><%= item.finalRateForEdprowise %></td>
          <td><%= formatCost( item.taxableValueForEdprowise) %></td>
          <td><%= formatCost(item.gstAmountForEdprowise) %></td>
          <td><%= formatCost(item.totalAmountForEdprowise) %></td>
        </tr>
        <% }); %>

        <tr class="center bold">
          <td colspan="2">Total</td>
          <td><%= quoteProposalData.totalQuantity %></td>
          <td></td>
          <td>
            <%= formatCost(quoteProposalData.totalTaxableValueForEdprowise) %>
          </td>
          <td>
            <%= formatCost(quoteProposalData.totalTaxAmountForEdprowise) %>
          </td>
          <td><%= formatCost(quoteProposalData.totalAmountForEdprowise) %></td>
        </tr>
      </tbody>
    </table>

    <p>
      <strong
        >Amount Chargable (in words) : INR <%=
        convertToWords(quoteProposalData.totalAmountForEdprowise) %>
        Only</strong
      >
    </p>

    <table>
      <thead>
        <tr class="bold center">
          <td rowspan="2">HSN/SAC</td>
          <td rowspan="2">Taxable Value</td>
          <td colspan="2">CGST</td>
          <td colspan="2">SGST</td>
          <td colspan="2">IGST</td>
          <td rowspan="2">Total Tax Amount</td>
        </tr>
        <tr class="bold center">
          <td>Rate</td>
          <td>Amount</td>
          <td>Rate</td>
          <td>Amount</td>
          <td>Rate</td>
          <td>Amount</td>
        </tr>
      </thead>
      <tbody class="center">
        <% const hsnGroups = {}; prepareQuoteData?.forEach((item) => { if
        (!hsnGroups[item.hsnSacc]) { hsnGroups[item.hsnSacc] = { hsnSacc:
        item.hsnSacc, taxableValueForEdprowise: 0, cgstRateForEdprowise:
        item.cgstRateForEdprowise, cgstAmountForEdprowise: 0,
        sgstRateForEdprowise: item.sgstRateForEdprowise, sgstAmountForEdprowise:
        0, igstRateForEdprowise: item.igstRateForEdprowise,
        igstAmountForEdprowise: 0, totalTaxAmountForEdprowise: 0 }; }
        hsnGroups[item.hsnSacc].taxableValueForEdprowise +=
        item.taxableValueForEdprowise;
        hsnGroups[item.hsnSacc].cgstAmountForEdprowise +=
        item.cgstAmountForEdprowise;
        hsnGroups[item.hsnSacc].sgstAmountForEdprowise +=
        item.sgstAmountForEdprowise;
        hsnGroups[item.hsnSacc].igstAmountForEdprowise +=
        item.igstAmountForEdprowise;
        hsnGroups[item.hsnSacc].totalTaxAmountForEdprowise +=
        (item.cgstAmountForEdprowise + item.sgstAmountForEdprowise +
        item.igstAmountForEdprowise); });const groupedItems =
        Object.values(hsnGroups); let index = 0; %> <%
        groupedItems.forEach((item) => { %>
        <tr>
          <td><%= item.hsnSacc %></td>
          <td><%= formatCost(item.taxableValueForEdprowise) %></td>
          <td><%= item.cgstRateForEdprowise %></td>
          <td><%= formatCost(item.cgstAmountForEdprowise) %></td>
          <td><%= item.sgstRateForEdprowise %></td>
          <td><%= formatCost(item.sgstAmountForEdprowise) %></td>
          <td><%= item.igstRateForEdprowise %></td>
          <td><%= formatCost(item.igstAmountForEdprowise) %></td>
          <td></td>
        </tr>
        <% index++; }) %>
        <tr class="bold">
          <td>Total</td>
          <td>
            <%=formatCost( quoteProposalData.totalTaxableValueForEdprowise) %>
          </td>
          <td></td>
          <td>
            <%=formatCost( quoteProposalData.totalCgstAmountForEdprowise) %>
          </td>
          <td></td>
          <td>
            <%=formatCost( quoteProposalData.totalSgstAmountForEdprowise )%>
          </td>
          <td></td>
          <td>
            <%= formatCost(quoteProposalData.totalIgstAmountForEdprowise )%>
          </td>
          <td>
            <%= formatCost(quoteProposalData.totalTaxAmountForEdprowise) %>
          </td>
        </tr>
      </tbody>
    </table>

    <p>
      <strong
        >Tax Amount (in words ) : INR <%=
        convertToWords(quoteProposalData.totalTaxAmountForEdprowise) %>
        Only</strong
      >
    </p>

    <br /><br />
    <div class="right bold">For <%= profileData.sellerCompanyName %></div>
    <div
      class="right bold"
      style="
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      "
    >
      <% if (profileData?.signature) { %>
      <div>
        <img
          src="<%= profileData?.signature %>"
          alt="Company Signature"
          style="width: 300ps; height: 40px; display: block"
        />
      </div>
      <% } else { %>
      <div>_________________________</div>
      <% } %>
    </div>
    <div
      class="right bold"
      style="display: flex; flex-direction: column; align-items: flex-end"
    >
      Authorised Signatory
    </div>
  </body>
</html>
