<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Buyer/Invoice</title>
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
        font-family: Arial, sans-serif;
      }
      td,
      th {
        border: 1px solid black;
        padding: 6px;
        font-size: 14px;
        vertical-align: top;
      }
      .header-table td {
        border: none;
      }
      .no-border {
        border: none;
      }
      .center {
        text-align: center;
      }
      .bold {
        font-weight: bold;
      }
      .right {
        text-align: right;
      }
    </style>
  </head>
  <body>
    <table class="header-table">
      <tr>
        <td style="text-align: left">
          <img src="<%= LOGO_IMAGE %>" alt="logo" style="height: 40px" />
        </td>
        <td style="text-align: center"><h3>Tax Invoice</h3></td>
        <td style="text-align: right">
          <h3>(Original for Recipient )</h3>
        </td>
      </tr>
    </table>

    <table>
      <tr>
        <td style="width: 50%">
          <table
            style="width: 100%; border-collapse: collapse"
            class="header-table"
          >
            <tr>
              <td class="bold">Supplier</td>
            </tr>
            <tr>
              <td>Name : <%= profileData.edprowiseCompanyName %></td>
            </tr>
            <tr>
              <td>Address : <%= profileData.edprowiseAddress %></td>
            </tr>
            <tr>
              <td>
                City : <%= profileData.edprowiseCity %> <%=
                profileData.edprowisePincode%>
              </td>
            </tr>
          </table>
        </td>
        <td style="width: 50%">
          <table
            style="width: 100%; border-collapse: collapse"
            class="header-table"
          >
            <tr>
              <td>GSTIN : <%= profileData.edprowiseGstin %></td>
            </tr>
            <tr>
              <td>PAN : <%= profileData.edprowisePan %></td>
            </tr>
            <tr>
              <td>Contact No. : <%= profileData.edprowiseContactNo %></td>
            </tr>
            <tr>
              <td>Email ID : <%= profileData.edprowiseEmailId%></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <table>
      <tr>
        <td style="width: 50%">
          <table
            style="width: 100%; border-collapse: collapse"
            class="header-table"
          >
            <tr>
              <td class="bold">Consignee</td>
            </tr>
            <tr>
              <td colspan="2">Name : <%= profileData.buyerName %></td>
            </tr>
            <tr>
              <td colspan="2">
                Address :<span> <%= profileData.schoolDeliveryAddress %></span>
              </td>
            </tr>
            <tr>
              <td style="width: 50%">
                City : <%= profileData.schoolDeliveryCity %>
              </td>
              <td style="width: 50%">
                State : <%= profileData.schoolDeliveryState%>
              </td>
            </tr>
            <tr>
              <td style="width: 50%">
                Contact No. : <%= profileData.schoolContactNumber %>
              </td>
              <td style="width: 50%">
                Email Id : <%= profileData.schoolEmailId %>
              </td>
            </tr>
            <tr>
              <td class="bold">Buyer</td>
            </tr>
            <tr>
              <td colspan="2">Name : <%= profileData.buyerName %></td>
            </tr>
            <tr>
              <td colspan="2">
                Address : <%= profileData.schoolDeliveryAddress %>
              </td>
            </tr>
            <tr>
              <td style="width: 50%">
                City : <%= profileData.schoolDeliveryCity %>
              </td>
              <td style="width: 50%">
                State : <%= profileData.schoolDeliveryState %>
              </td>
            </tr>
          </table>
        </td>
        <td style="width: 50%">
          <table
            style="width: 100%; border-collapse: collapse"
            class="header-table"
          >
            <tr>
              <td>Invoice No. : <%= profileData.invoiceForSchool %></td>
            </tr>
            <tr>
              <td>Order No. : <%= profileData.orderNumber %></td>
            </tr>
            <tr>
              <td>Invoice Date : <%= formatDate(profileData.invoiceDate) %></td>
            </tr>
            <tr>
              <td>
                Payment Terms : <%= profileData.paymentTerms - 15 %> (Days Only)
              </td>
            </tr>
            <tr>
              <td>
                Advance Amount Received : <%= profileData.advanceRequiredAmount
                %>
              </td>
            </tr>
            <tr>
              <td>GSTIN :</td>
            </tr>
            <tr>
              <td>PAN : <%= profileData.schoolPanNumber%></td>
            </tr>
            <tr>
              <td colspan="2">All Amounts are in INR</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <table>
      <thead>
        <tr class="bold center">
          <td>Sr</td>
          <td>Sub Category Name</td>
          <td>Qty</td>
          <td>Rate</td>
          <td>Taxable Value</td>
          <td>GST Amount</td>
          <td>Total Amount</td>
        </tr>
      </thead>
      <tbody>
        <% prepareQuoteData.forEach((item, index) => { %>
        <tr class="center">
          <td><%= index + 1 %></td>
          <td><%= item.subcategoryName %></td>
          <td><%= item.quantity %></td>
          <td><%= item.finalRate %></td>
          <td><%=formatCost( item.taxableValue) %></td>
          <td><%= formatCost(item.gstAmount) %></td>
          <td><%= formatCost(item.totalAmount) %></td>
        </tr>
        <% }); %>

        <tr class="center bold">
          <td colspan="2">Sub Total</td>
          <td><%= quoteProposalData.totalQuantity %></td>
          <td></td>
          <td><%= formatCost(quoteProposalData.totalTaxableValue) %></td>
          <td><%= formatCost(quoteProposalData.totalTaxAmount) %></td>
          <td><%= formatCost(quoteProposalData.totalAmount) %></td>
        </tr>

        <tr class="center">
          <td></td>
          <td>Delivery Charges</td>
          <td></td>
          <td></td>
          <td><%= formatCost(profileData.deliveryCharges) %></td>
          <td>
            <%= formatCost(quoteProposalData.totalDeliveryGstAmountForEdprowise)
            %>
          </td>
          <td>
            <%= formatCost(profileData.deliveryCharges +
            quoteProposalData.totalDeliveryGstAmountForEdprowise) %>
          </td>
        </tr>

        <tr class="center bold">
          <td colspan="2">Total</td>
          <td><%= quoteProposalData.totalQuantity %></td>
          <td></td>
          <td>
            <%= formatCost(quoteProposalData.totalTaxableValue +
            profileData.deliveryCharges ) %>
          </td>
          <td>
            <%= formatCost(quoteProposalData.totalTaxAmount +
            quoteProposalData.totalDeliveryGstAmount ) %>
          </td>
          <td>
            <%= formatCost(quoteProposalData.totalAmount +
            profileData.deliveryCharges +
            quoteProposalData.totalDeliveryGstAmount) %>
          </td>
        </tr>
      </tbody>
    </table>

    <p>
      <strong
        >Amount Chargeable (in words ) : INR <%=
        convertToWords(quoteProposalData.totalAmount +
        profileData.deliveryCharges + quoteProposalData.totalDeliveryGstAmount)
        %> Only</strong
      >
    </p>

    <table>
      <thead>
        <tr class="bold center">
          <td rowspan="2">HSN/SAC</td>
          <td rowspan="2">Taxable Value</td>
          <td colspan="2">CGST</td>
          <td colspan="2">SGST</td>
          <td colspan="2">IGST</td>
          <td rowspan="2">Total Tax Amount</td>
        </tr>
        <tr class="bold center">
          <td>Rate</td>
          <td>Amount</td>
          <td>Rate</td>
          <td>Amount</td>
          <td>Rate</td>
          <td>Amount</td>
        </tr>
      </thead>
      <tbody class="center">
        <% const hsnGroups = {}; prepareQuoteData?.forEach((item) => { if
        (!hsnGroups[item.hsnSacc]) { hsnGroups[item.hsnSacc] = { hsnSacc:
        item.hsnSacc, taxableValue: 0, cgstRate: item.cgstRate, cgstAmount: 0,
        sgstRate: item.sgstRate, sgstAmount: 0, igstRate: item.igstRate,
        igstAmount: 0, totalTaxAmount: 0 }; }
        hsnGroups[item.hsnSacc].taxableValue += item.taxableValue;
        hsnGroups[item.hsnSacc].cgstAmount += item.cgstAmount;
        hsnGroups[item.hsnSacc].sgstAmount += item.sgstAmount;
        hsnGroups[item.hsnSacc].igstAmount += item.igstAmount;
        hsnGroups[item.hsnSacc].totalTaxAmount += (item.cgstAmount +
        item.sgstAmount + item.igstAmount); });const groupedItems =
        Object.values(hsnGroups); let index = 0; %> <%
        groupedItems.forEach((item) => { %>
        <tr>
          <td><%= item.hsnSacc %></td>
          <td><%= formatCost(item.taxableValue) %></td>
          <td><%= item.cgstRate %></td>
          <td><%= formatCost(item.cgstAmount) %></td>
          <td><%= item.sgstRate %></td>
          <td><%= formatCost(item.sgstAmount) %></td>
          <td><%= item.igstRate %></td>
          <td><%= formatCost(item.igstAmount) %></td>
          <td></td>
        </tr>
        <% index++; }) %>

        <tr class="bold">
          <td>Sub Total</td>
          <td><%= formatCost(quoteProposalData.totalTaxableValue) %></td>
          <td></td>
          <td><%= formatCost(quoteProposalData.totalCgstAmount) %></td>
          <td></td>
          <td><%= formatCost(quoteProposalData.totalSgstAmount) %></td>
          <td></td>
          <td><%= formatCost(quoteProposalData.totalIgstAmount) %></td>
          <td><%= formatCost(quoteProposalData.totalTaxAmount) %></td>
        </tr>

        <tr>
          <td>996812</td>
          <td><%= formatCost(profileData.deliveryCharges) %></td>
          <td><%= quoteProposalData.deliveryCgstRate %></td>
          <td>
            <% if (quoteProposalData.deliveryCgstRate > 0) { %> <%=
            formatCost(quoteProposalData.totalDeliveryGstAmountForEdprowise / 2)
            %> <% } else { %> ₹0 <% } %>
          </td>
          <td><%= quoteProposalData.deliverySgstRate %></td>
          <td>
            <% if (quoteProposalData.deliverySgstRate > 0) { %> <%=
            formatCost(quoteProposalData.totalDeliveryGstAmountForEdprowise / 2)
            %> <% } else { %> ₹0 <% } %>
          </td>
          <td><%= quoteProposalData.deliveryIgstRate %></td>
          <td>
            <% if (quoteProposalData.deliveryIgstRate > 0) { %> <%=
            formatCost(quoteProposalData.totalDeliveryGstAmountForEdprowise) %>
            <% } else { %> ₹0 <% } %>
          </td>
          <td>
            <%= formatCost(quoteProposalData.totalDeliveryGstAmountForEdprowise)
            %>
          </td>
        </tr>

        <tr class="bold">
          <td>Total</td>
          <td>
            <%= formatCost(quoteProposalData.totalTaxableValue +
            profileData.deliveryCharges) %>
          </td>
          <td></td>
          <td>
            <%= formatCost(quoteProposalData.totalCgstAmount +
            (quoteProposalData.totalCgstAmount > 0 ?
            quoteProposalData.totalDeliveryGstAmountForEdprowise / 2 : 0)) %>
          </td>
          <td></td>
          <td>
            <%= formatCost(quoteProposalData.totalSgstAmount +
            (quoteProposalData.totalSgstAmount > 0 ?
            quoteProposalData.totalDeliveryGstAmountForEdprowise / 2 : 0)) %>
          </td>
          <td></td>
          <td>
            <%= formatCost(quoteProposalData.totalIgstAmount +
            (quoteProposalData.totalIgstAmount > 0 ?
            quoteProposalData.totalDeliveryGstAmountForEdprowise : 0)) %>
          </td>
          <td>
            <%= formatCost(quoteProposalData.totalTaxAmount +
            quoteProposalData.totalDeliveryGstAmountForEdprowise) %>
          </td>
        </tr>
      </tbody>
    </table>

    <p>
      <strong
        >Tax Amount (in words ) : INR <%=
        convertToWords(quoteProposalData.totalTaxAmount +
        quoteProposalData.totalDeliveryGstAmountForEdprowise)%> Only</strong
      >
    </p>

    <br /><br />
    <div class="right bold">For EdProwise Tech Pvt. Ltd</div>
    <div class="right bold" style="margin-top: 50px">Authorised Signatory</div>
  </body>
</html>
